table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .container{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
  }