.grid-container {
    width: 75%;
    margin: 20px auto;
}
.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Video-Game-Controller-Icon-IDV-green.svg/249px-Video-Game-Controller-Icon-IDV-green.svg.png');
  background-size: cover;
}
.img {
  max-width: 30%;
  justify-content: center;
}

@media screen and (min-width: 48em) {
	.custom-logo-link img {
    max-width: 100px;
	}
}

.iconProducto {
    /* display: inline-block; */
    max-height: 80px;
    /* width: auto; */
    display: block;

    
}

.container {
  background-color: black;
}